<div class="page-center" fxLayout='column' fxFlex="100%">

  <!-- start desktop -->
  <button fxShow.xs="false" mat-mini-fab (click)="deleteForm()" [hidden]="!edition" class="fab-mini-bottom-up2"
          matTooltip="{{'qcm.form.menu.deleteAll' | translate }}" color="accent">
    <mat-icon>delete</mat-icon>
  </button>

  <button fxShow.xs="false" mat-mini-fab [routerLink]="['/questionnaires/list']" class="fab-mini-bottom-up1"
          matTooltip="{{'qcm.form.menu.cancel' | translate }}" color="primary">
    <mat-icon>reply</mat-icon>
  </button>

  <button fxShow.xs="false" mat-fab (click)="toggleEdition(true)" color="primary" class="fab-bottom" [hidden]="edition"
          matTooltip="{{'qcm.form.toggle.on' | translate }}">
    <mat-icon>create</mat-icon>
  </button>

  <button fxShow.xs="false" mat-fab (click)="saveForm()" color="primary" class="fab-bottom" [hidden]="!edition"
          matTooltip="{{'qcm.form.menu.save' | translate }}">
    <mat-icon>save</mat-icon>
  </button>
  <!-- end desktop -->

  <mat-toolbar>

    <mat-toolbar-row>

      <!-- start mobile -->
<!--      <button fxShow.gt-xs="false" mat-icon-button [routerLink]="['/questionnaires/list']">-->
<!--        <mat-icon [hidden]="edition">arrow_back</mat-icon>-->
<!--        <mat-icon [hidden]="!edition">close</mat-icon>-->
<!--      </button>-->
      <!-- end mobile -->

      <div *ngIf="questionnaire.uuid  && !edition">{{'qcm.questionnaire.view.title' | translate}}{{questionnaire.title}}</div>
      <div *ngIf="questionnaire.uuid && edition">{{'qcm.questionnaire.edit.title' | translate}} {{questionnaire.title}}</div>
      <div *ngIf="!questionnaire.uuid">{{'qcm.questionnaire.create.title' | translate}}</div>

      <div class="spacer"></div>

      <!-- start mobile -->
      <button fxShow.gt-xs="false" mat-icon-button (click)="toggleEdition(true)" [hidden]="edition"
              matTooltip="{{'qcm.form.toggle.on' | translate }}" color="primary">
        <mat-icon>create</mat-icon>
      </button>

      <button fxShow.gt-xs="false" mat-icon-button (click)="saveForm()" [hidden]="!edition"
              matTooltip="{{'qcm.form.menu.save' | translate }}" color="primary">
        <mat-icon>save</mat-icon>
      </button>

      <button fxShow.gt-xs="false" mat-icon-button (click)="deleteForm()" [hidden]="edition"
              matTooltip="{{'qcm.form.menu.deleteAll' | translate }}" color="accent">
        <mat-icon>delete</mat-icon>
      </button>
      <!-- end mobile -->

      <!--<ng-content select="[menu-buttons]"></ng-content>-->
      <button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="questionnaireMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #questionnaireMenu="matMenu" yPosition="below">
        <!--<ng-content select="[menu-items]"></ng-content>-->
        <button mat-menu-item (click)="createCategory()">
          <mat-icon>add</mat-icon>
          {{'qcm.questionnaire.menu.category.create' |translate}}
        </button>
        <button mat-menu-item (click)="viewQuestionsByQuestionnaire()">
          <mat-icon>list</mat-icon>
          {{'qcm.questionnaire.menu.questions.list' |translate}}
        </button>
      </mat-menu>

    </mat-toolbar-row>

  </mat-toolbar>

  <!--form -->
  <form [formGroup]="form" fxLayout="column" fxLayout.gt-xs="row" fxFlex="100%">

    <!--    colonne 1-->
    <div fxLayout='column' fxFlex="100%" fxFlex.gt-sm="50%">

      <!-- title-->
      <div fxLayout='row'>
        <mat-form-field fxFlex="100%" fxFlex.gt-xs="90%">
          <input formControlName="title" placeholder="{{'qcm.questionnaire.form.input.title.placeholder' |translate}}"
                 matInput>
        </mat-form-field>
      </div>

      <!--  category-->
      <div fxLayout='row'>
        <mat-form-field *ngIf="categories as categs;" fxFlex="100%" fxFlex.gt-xs="50%">
          <mat-select formControlName="category"
                      placeholder="{{'qcm.questionnaire.form.input.category.placeholder' |translate}}"
                      [compareWith]="compareByUuid">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let categorie of categs" [value]="categorie">{{categorie.libelle}}</mat-option>

          </mat-select>
        </mat-form-field>
        <button *ngIf="!categories?.length" mat-icon-button
                matTooltip="{{'qcm.questionnaire.menu.category.create' |translate}}"
                (click)="createCategory()">
          <mat-icon>fiber_new</mat-icon>
        </button>
      </div>

      <!-- tags -->
      <div fxLayout='row'>
        <mat-form-field class="chip-tags" fxFlex="100%" fxFlex.gt-xs="90%">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of tags.controls; index as i" [selectable]="edition"
                      [removable]="edition"  (removed)="removeChip(i)">
              {{tag.get('libelle')?.value}}
              <mat-icon matChipRemove *ngIf="edition">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <input placeholder="{{'qcm.questionnaire.form.input.tag.placeholder' |translate}}"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addChip($event)" [disabled]="!edition"/>
        </mat-form-field>
      </div>

      <!--  website -->
      <div fxLayout='row'>
        <mat-form-field fxFlex="100%" fxFlex.gt-xs="90%">
          <input formControlName="website"
                 placeholder="{{'qcm.questionnaire.form.input.website.placeholder' |translate}}"
                 matInput>
        </mat-form-field>
      </div>

    </div>

    <!--    colonne 2 -->
    <div fxLayout='column' fxFlex="100%" fxFlex.gt-xs="20%">
      <!--      <div  fxFlex="100%" fxFlex.gt-xs="50%">-->
      <mat-form-field *ngIf="questionnaire.uuid">
        <input matInput [value]="form.get('dateCreation').value | date: 'dd/MM/yyyy hh:mm:ss' "
               placeholder="{{'qcm.questionnaire.form.input.creation.placeholder' |translate}}" readonly>
      </mat-form-field>

      <!-- </div> -->
      <mat-form-field *ngIf="questionnaire.uuid">
        <input matInput [value]="form.get('dateModification').value | date: 'dd/MM/yyyy hh:mm:ss' "
               placeholder="{{'qcm.questionnaire.form.input.modification.placeholder' |translate}}" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="questionnaire.uuid">
        <input matInput [value]="questionnaire.version"
               placeholder="{{'qcm.questionnaire.form.input.version.placeholder' |translate}}" readonly>
      </mat-form-field>

<!--      <span fxFlex="50%" fxFlex.gt-xs="40%"  class="mat-label" >version {{questionnaire.version}} </span>-->

      <!--status -->
      <div fxLayout='row'>
        <mat-form-field fxFlex="50%" fxFlex.gt-xs="40%">
          <mat-select formControlName="status" placeholder="Status">
            <mat-option *ngFor="let s of status"
                        [value]="s.id">{{ 'qcm.status.id.' + s.id | translate}}</mat-option>
            <mat-error *ngIf="form.get('status').hasError('required')">field required</mat-error>
          </mat-select>
        </mat-form-field>


      </div>

      <mat-checkbox  formControlName="published"  matInput *ngIf="questionnaire.uuid">
                {{'qcm.questionnaire.form.input.published.placeholder' |translate}}
      </mat-checkbox>


    </div>

  </form>

  <!--  </div> -->
  <!--  [upload]="doUpload" -->
  <md-editor name="Content"
             [(ngModel)]="this.description"
             [height]="'300px'"
             [mode]="edition ? 'editor' : 'preview'"
             [options]="options"
             required
             maxlength="500">
  </md-editor>

</div>

