

<app-questionnaire-tool-bar [questionnaire]="questionnaire">
  <a menu-buttons mat-icon-button (click)="openQuestionDialog()">
    <mat-icon>fiber_new</mat-icon>
  </a>
  <button menu-items mat-menu-item (click)="editQuestionnaire(questionnaire)">
    <mat-icon>edit</mat-icon>
    Update
  </button>

</app-questionnaire-tool-bar>


<mat-nav-list>
  <mat-list-item *ngFor="let question of questions  | async">
    <div style="margin-right: 0px" attr.entityId="questionId_{{question.questionId}}">
      <div>
        <a mat-icon-button style="max-width: 600px;overflow: hidden" matTooltip="Edit"
           (click)="openQuestionDialog(question)">
          <mat-icon color="primar">help</mat-icon>
        </a>
      </div>
    </div>
    <span>{{question.questionId}} - {{question.question}}</span>
  </mat-list-item>
</mat-nav-list>

<div><mat-paginator #paginator *ngIf="(questions | async)?.length > 0 "  [length]="totalElements"   [pageSize]="10" [showFirstLastButtons]="true"
                    (page)="onPaginateChange($event)" > </mat-paginator></div>


<div *ngIf="(questions | async)?.length ==0 "
     style="display:flex;justify-content: center;flex-direction: column;align-items: center;height: 80%;">
  <div><img src="./assets/images/norecord.png"/></div>
  <p>You don't have questions.</p>
  <button mat-raised-button color="primary" (click)="openQuestionDialog()">ADD A QUESTION</button>
</div>


