
//.nav-item{
//  padding-left: 24px;
//  padding-right: 24px;
//  //padding-top: 0px;
//  //padding-bottom: 0px;
//  font-weight: 500;
//}

//a.active
//{
//  font-weight: 500;
//}

//.mat-nav-list a.active  {
//  background: whitesmoke;
//
//}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.col-modal-create-button {
  margin: auto;
  width: 150px;
}
