<app-sidenav-layout appName="QCM Online" title="My Questions" #layout>

  <div right-toolbar-content entityId="right-toolbar-content">
    <div flex></div>
    <button mat-icon-button routerLink="/questions/list">
      <mat-icon>view_comfy</mat-icon>
    </button>
  </div>

  <!--<app-questionnaire-left-side-nav left-sidenav-content></app-questionnaire-left-side-nav>-->

  <app-question-left-side-nav left-sidenav-content></app-question-left-side-nav>

  <div right-sidenav-content>  </div>


  <router-outlet></router-outlet>


</app-sidenav-layout>
