<mat-toolbar>
  <div  *ngIf="totalElements" style="align-items: center ">{{totalElements}} Questionn(s)</div>
  <div flex></div>
  <!--<button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="questionnaireMenu">-->
  <!--<mat-icon>more_vert</mat-icon>-->
  <!--</button>-->
  <!-- line menu -->
  <!--<mat-menu #questionnaireMenu="matMenu" yPosition="below">-->
  <a  mat-icon-button [@tdPulse]="pulseState"   >
    <mat-icon>replay</mat-icon>
  </a>
  <a mat-icon-button   >
    <mat-icon>fiber_new</mat-icon>
  </a>
  <a mat-icon-button>
    <mat-icon>delete</mat-icon>
  </a>

</mat-toolbar>
