
<mat-card>

<mat-card-header>

<mat-toolbar>
  <a mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </a>
  <h1>User</h1>
</mat-toolbar>

</mat-card-header>
  <mat-card-content>
    <div class="user-container">
      <div>Id :  {{this.getUser().id}}</div>
      <div>Name : {{this.getUser().first_name}}</div>
      <div>Last name :{{this.getUser().last_name}}</div>
      <div>Email :{{this.getUser().email}}</div>
      <div>Email Verified :{{this.getUser().email_verified}}</div>
      <div>Token:<textarea style="width:900px;height: 200px; word-wrap:break-word;border: none">bearer&nbsp;{{this.token | async }}</textarea></div>
    </div>
  </mat-card-content>
</mat-card>






