

@import "src/assets/styles/scss/material.variables";

:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: block;
}

$mat-toolbar-height-desktop: 4px !default;
$mat-toolbar-height-mobile-portrait: 56px !default;
$mat-toolbar-height-mobile-landscape: 48px !default;

.mat-card-top {
  margin-top: -($mat-toolbar-height-desktop);
}

.mat-form-field {
  width: auto;
}

@media ($mat-xsmall) and (orientation: portrait) {
  .mat-card-top {
    margin-top: -($mat-toolbar-height-mobile-portrait);
  }
}

@media ($mat-small) and (orientation: landscape) {
  .mat-card-top {
    margin-top: -($mat-toolbar-height-mobile-landscape);
  }
}

@import 'src/themes/styles-variables';

//html {
//  background:  $background;
//  background-color: $background;
//}

.sidenav-container {
 // height: 1000px;
  //background: #00E676;
  //background:  $background;
}

.sidenav {
  width: 200px;
}

.sidenav-content {
  overflow: hidden;
}
