
.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
}

.sidenav-content {
  overflow: hidden;

}



//.page-content{
//  padding: 5px;
//}
//.page-content {
//   //box-sizing:  unset;
//   //background-color: #fafafa;
//  //height: 100%;
// }
//
//.at-card {
//  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
//  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
//  margin: 15px;
//  //padding: 10px !important;
//  border-radius: 4px;
//}
//

