


<div *ngIf="totalElements">

    <ng-content></ng-content>
    <ng-content *ngIf="!isSelectedMode()" select="[elements-view]"></ng-content>
    <ng-content *ngIf="isSelectedMode()" select="[selected-view]"></ng-content>

    <mat-paginator #paginator
                   *ngIf="!isSelectedMode()  && ( (( curentPageSize == pageSize )) || last ) "
                   [length]="totalElements"
                   [pageSize]="pageSize" [showFirstLastButtons]="true"
                   (page)="onPaginateChange($event)"></mat-paginator>
</div>

<!--<mat-progress-bar mode="query" *ngIf="loadingData$ | async"></mat-progress-bar>-->
<div *ngIf="loadingData" class="empty">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!loadingData " class="empty">
  <div *ngIf="(elements)?.length ==0 " class="empty">
    <span style="display:flex;justify-content: center;flex-direction: column;align-items: center;height: 100%;">
      <div><img src="./assets/images/norecord.png"/></div>
      <p>No records found !</p>
      <div>
      <!--<span><button mat-raised-button color="primary" (click)="onCreateElement($event)">{{emptyMessage}}</button></span>-->
      <span *ngIf="filterStore"><button  mat-raised-button color="primary" (click)="clearFilter()">Clear Filters</button> </span>
        </div>
      <!--<button mat-raised-button color="primary" (click)="clearFilters($event)">Clear Filters(S)</button>-->
    </span>
  </div>
</div>

