<div fxLayout="row" fxFlex="100%">
  <div fxLayout='column' fxFlex="0%" fxFlex.gt-sm="10%"></div>
  <div fxLayout='column' fxFlex="100%" fxFlex.gt-sm="80%">

  <!--  <div class="page-header" fxlayout fxlayout="column" fxLayout.xs="column" fxLayoutAlign="center center">-->
  <!--    <div fxFlex="80%" class="page-search"><input type="Text"></div>-->

  <!--    <button mat-icon-button (click)="filter=!filter;" matTooltip="{{'qcm.form.menu.filter' | translate}}">-->

  <!--      <mat-icon *ngIf="(questionStore.criteriaSize$ |async ) > 0"-->
  <!--                matBadge="{{(questionStore.criteriaSize$ |async )}}"-->
  <!--                matBadgeColor="warn"-->
  <!--                matBadgePosition="above after">filter_list-->
  <!--      </mat-icon>-->
  <!--      <mat-icon *ngIf="(questionStore.criteriaSize$ |async ) ==0">filter_list</mat-icon>-->
  <!--    </button>-->
  <!--  </div>-->

  <!--  start desktop fab -->
  <button fxShow.xs="false" id="replay-btn-selectable-list" mat-mini-fab (click)="list.refresh(true);"
          class="fab-bottom-up2"
          matTooltip="{{'qcm.selectable-list.menu.refresh' | translate}}">
    <mat-icon>replay</mat-icon>
  </button>

  <button fxShow.xs="false" toolbar-view mat-mini-fab (click)="filter=!filter;" class="fab-bottom-up1"
          color="primary"
          matTooltip="{{'qcm.questionnaire.menu.filter' | translate}}">

    <mat-icon *ngIf="(questionListStore.criteriaSize$ | async )>0"
              matBadge="{{questionListStore.criteriaSize$ | async}}" matBadgeColor="warn"
              matBadgePosition="above after">filter_list
    </mat-icon>
    <span></span>
    <mat-icon *ngIf="(questionListStore.criteriaSize$ | async)==0">filter_list</mat-icon>
  </button>

  <!--  create new-->
  <button id="add-btn-selectable-list" mat-fab (click)="list.onCreateElement($event)" color="primary" class="fab-bottom"
          matTooltip="{{'qcm.selectable-list.menu.new' | translate }}" [hidden]="filter">
    <mat-icon>add</mat-icon>
  </button>

  <!-- show list-->
  <button id="list-btn-selectable-list" mat-fab (click)="list.refresh(true);filter=!filter;" color="primary"
          class="fab-bottom"
          matTooltip="{{'qcm.selectable-list.menu.new' | translate }}" [hidden]="!filter">
    <mat-icon>list</mat-icon>
  </button>

  <!-- end desktop fab -->

  <!--  show  filtre -->
  <div fxLayout fxlayout="column" fxLayoutAlign="center center" fxLayout.xs="column" [hidden]="!filter">
     <span>
      <h1>{{'qcm.question.filtre.title' |translate }}</h1>
      ({{'qcm.question.filtre.found' | translate:{'nb': list.totalElements} }})
    </span>
  </div>

  <div fxLayout fxLayoutAlign="center center" fxLayout.xs="column" [hidden]="!filter">
    <div>{{'qcm.tag-select.title' | translate}}:</div>
    <app-tag-select></app-tag-select>
    <div>{{'qcm.questionnaire-select.title' | translate}}:</div>
    <app-questionnaire-select></app-questionnaire-select>
  </div>
  <!--  end show filtre -->


  <div fxlayout [hidden]="filter">

    <app-selectable-list #list [store]="questionListStore"
                         [sortBy]="'id'"
                         (created)="create()">

      <div toolbar-view style="display: flex;">
         <span *ngIf="!list.isSelectedMode()"
               style="align-items: center "> {{ "qcm.question.list.title" | translate}}</span>
        <span *ngIf="list.isSelectedMode()"
              style="align-items: center ">{{ "qcm.question.selected.title" | translate }}</span>
      </div>

      <div toolbar-view class="spacer"></div>

      <!-- add to questionnaire  -->
      <button id="addToQuestionnaireButtionId" mat-icon-button *ngIf="list.modeSelection$ |async"
              (click)="addToQuestionnaire(uuid,selected)" matTooltip="{{ 'qcm.question.list.addQuestionnaire' | translate}}">
        <mat-icon>library_add</mat-icon>
      </button>

      <!--  start mobile-->
      <button fxShow.gt-xs="false" mat-icon-button (click)="filter=!filter;"
              matTooltip="{{'qcm.form.menu.filter' | translate}}">
        <mat-icon *ngIf="(questionListStore.criteriaSize$ |async ) > 0"
                  matBadge="{{(questionListStore.criteriaSize$ |async )}}"
                  matBadgeColor="warn"
                  matBadgePosition="above after">filter_list
        </mat-icon>
        <mat-icon *ngIf="(questionListStore.criteriaSize$ |async ) ==0">filter_list</mat-icon>
      </button>
      <!-- end mobile-->

      <app-question-nav-list elements-view [elements$]="questionListStore.elements$"></app-question-nav-list>

      <app-question-nav-list selected-view [elements$]="questionListStore.selected$"></app-question-nav-list>

    </app-selectable-list>

  </div>


</div>
<div fxLayout='column' fxFlex="0%" fxFlex.gt-sm="10%"></div>
</div>


