<div fxLayout="row" fxFlex="100%">

  <div fxLayout='column' fxFlex="0%" fxFlex.gt-sm="10%"></div>

  <div fxLayout='column' fxFlex="100%" fxFlex.gt-sm="80%">

    <!--      <nav mat-tab-nav-bar [backgroundColor]="background">-->
    <!--        <a mat-tab-link *ngFor="let link of links"-->
    <!--           (click)="activeLink = link"-->
    <!--           [active]="activeLink == link"> {{link}} </a>-->
    <!--        <a mat-tab-link disabled>Disabled Link</a>-->
    <!--      </nav>-->

    <mat-tab-group>
      <mat-tab label="Questionnaire">
        <app-questionnaire-form></app-questionnaire-form>

      </mat-tab>

      <mat-tab label="Questions">
        <app-questionnaire-question-list></app-questionnaire-question-list>
      </mat-tab>

<!--      <mat-tab label="Third"> Content 3</mat-tab>-->

    </mat-tab-group>

  </div>

  <div fxLayout='column' fxFlex="0%" fxFlex.gt-sm="10%"></div>

</div>

