

.mat-toolbar-row, .mat-toolbar-single-row{
  padding-left: 0px;
}

.full-width {
  width: 100%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  border-bottom-style: none;
}

.mat-radio-label-content{
  width: 90%;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.text-input {
  display: inline-flex;
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.inline-block {
  display: inline-block;
}


#flex-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px
}

#flex-container > .flex-item {
  flex: auto;
  margin: auto;
}

#flex-container > .raw-item {
  width: 5rem;
}


.responses-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: center;
}


.fab-bottom {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}

.fab-mini-bottom-up1 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: fixed;
  bottom: 75px;
  right: 25px;
  z-index: 1000;
}

.fab-mini-bottom-up2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: fixed;
  bottom: 120px;
  right: 25px;
  z-index: 1000;
}

.fab-mini-bottom-up3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: fixed;
  bottom: 165px;
  right: 25px;
  z-index: 1000;
}

