<div class="page-center" fxLayout='column'>

  <!-- start desktop -->
  <button fxShow.xs="false" mat-mini-fab (click)="createCategory()" [hidden]="!edition" class="fab-mini-bottom-up3"
          matTooltip="{{'qcm.question.category.create' | translate }}" color="primary">
    <mat-icon>category</mat-icon>
  </button>

  <button fxShow.xs="false" mat-mini-fab (click)="deleteForm()" [hidden]="!edition" class="fab-mini-bottom-up2"
          matTooltip="{{'qcm.form.menu.deleteAll' | translate }}" color="accent">
    <mat-icon>delete</mat-icon>
  </button>

  <button fxShow.xs="false" mat-mini-fab [routerLink]="['/questions/list']" class="fab-mini-bottom-up1"
          matTooltip="{{'qcm.form.menu.cancel' | translate }}" color="primary">
    <mat-icon>reply</mat-icon>
  </button>

  <button fxShow.xs="false" mat-fab (click)="toggleEdition(true)" color="primary" class="fab-bottom" [hidden]="edition"
          matTooltip="{{'qcm.form.toggle.on' | translate }}">
    <mat-icon>create</mat-icon>
  </button>

  <button fxShow.xs="false" mat-fab (click)="saveForm()" color="primary" class="fab-bottom" [hidden]="!edition"
          matTooltip="{{'qcm.form.menu.save' | translate }}">
    <mat-icon>save</mat-icon>
  </button>

  <!-- end desktop -->

  <mat-toolbar class="toolbar-form">

    <mat-toolbar-row>

      <!-- start mobile -->
      <button fxShow.gt-xs="false" mat-icon-button [routerLink]="['/questions/list']">
        <mat-icon [hidden]="edition">arrow_back</mat-icon>
        <mat-icon [hidden]="!edition">close</mat-icon>
      </button>
      <!-- end mobile -->

      <div *ngIf="question.id && !edition">{{'qcm.question.view.title' | translate}}{{question.id}}</div>
      <div *ngIf="question.id && edition">{{'qcm.question.edit.title' | translate}}  {{question.id}}</div>
      <div *ngIf="!question.id">{{'qcm.question.create.title' | translate}}</div>

      <div class="spacer"></div>

      <!-- start mobile -->

      <button fxShow.gt-xs="false" mat-icon-button (click)="createCategory()" [hidden]="!edition"
              matTooltip="{{'qcm.question.category.create' | translate }}" color="primary">
        <mat-icon>category</mat-icon>
      </button>

      <button fxShow.gt-xs="false" mat-icon-button (click)="toggleEdition(true)" [hidden]="edition"
              matTooltip="{{'qcm.form.toggle.on' | translate }}" color="primary">
        <mat-icon>create</mat-icon>
      </button>

      <button fxShow.gt-xs="false" mat-icon-button (click)="saveForm()" [hidden]="!edition"
              matTooltip="{{'qcm.form.menu.save' | translate }}" color="primary">
        <mat-icon>save</mat-icon>
      </button>

      <button fxShow.gt-xs="false" mat-icon-button (click)="deleteForm()" [hidden]="edition"
              matTooltip="{{'qcm.form.menu.deleteAll' | translate }}" color="accent">
        <mat-icon>delete</mat-icon>
      </button>
      <!-- start mobile -->

      <!--      <ng-content select="[menu-buttons]"></ng-content>-->
      <!--      <button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="questionMenu">-->
      <!--        <mat-icon>more_vert</mat-icon>-->
      <!--      </button>-->

      <!--      &lt;!&ndash; line menu &ndash;&gt;-->
      <!--      <mat-menu #questionMenu="matMenu" yPosition="below">-->
      <!--        <ng-content select="[menu-items]"></ng-content>-->
      <!--        <button mat-menu-item>-->
      <!--          <mat-icon>delete</mat-icon>-->
      <!--          {{'qcm.form.menu.delete' | translate }}-->
      <!--        </button>-->
      <!--      </mat-menu>-->
    </mat-toolbar-row>

  </mat-toolbar>

  <!-- form -->

  <form class="form" [formGroup]="form" fxLayout="column" fxFlex="100%">

    <div id="row1" fxLayout='column' fxLayout.gt-sm="row" fxFlex="100%" fxFlex.gt-sm="100%">

      <div  id="col1"  fxLayout='column' fxFlex="100%" fxFlex.gt-sm="50%" >
        <!-- Type question-->
        <div fxLayout='row'>
        <mat-form-field fxFlex="100%" fxFlex.gt-xs="40%">
          <mat-select formControlName="type" placeholder="Type">
            <mat-option *ngFor="let type of types"
                        [value]="type.id">{{ 'qcm.question.form.input.type.id.' + type.id | translate}}</mat-option>
            <mat-error *ngIf="form.get('type').hasError('required')">field required</mat-error>
          </mat-select>
        </mat-form-field>
        </div>

        <!-- Status question-->
        <div fxLayout='row' >
        <mat-form-field fxFlex="100%" fxFlex.gt-xs="40%" >
          <mat-select formControlName="status" placeholder="Status">
            <mat-option *ngFor="let s of status"
                        [value]="s.id">{{ 'qcm.question.form.input.status.id.' + s.id | translate}}</mat-option>
            <mat-error *ngIf="form.get('status').hasError('required')">field required</mat-error>
          </mat-select>
        </mat-form-field>
        </div>

        <!-- Categories question-->
        <div fxLayout='row' >
          <mat-form-field *ngIf="categories as categs;" fxFlex="100%" fxFlex.gt-xs="40%" >
            <mat-select formControlName="category"
                        placeholder="{{'qcm.questionnaire.form.input.category.placeholder' |translate}}"
                        [compareWith]="compareById">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let category of categs" [value]="category">{{category.libelle}}</mat-option>

            </mat-select>
          </mat-form-field>
          <button *ngIf="!categories?.length" mat-icon-button
                  matTooltip="{{'qcm.question.menu.category.create' |translate}}"
                  (click)="createCategory()">
            <mat-icon>fiber_new</mat-icon>
          </button>
        </div>

        <!-- tags todo: component -->
        <mat-form-field>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of tags.controls; index as i"
                      [selectable]="edition"
                      [removable]="edition" (removed)="removeChip(i)">
              {{tag.get('libelle')?.value}}
              <mat-icon matChipRemove *ngIf="edition">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New Tag..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addChip($event)" [disabled]="!edition"/>
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div id="col2"  fxFlex="100%" fxFlex.gt-xs="5%"></div>

      <!-- colonne 2 -->
      <div id="col3" fxLayout='column' fxFlex="100%" fxFlex.gt-xs="20%" >
        <!--      <div  fxFlex="100%" fxFlex.gt-xs="50%">-->
        <mat-form-field *ngIf="question.id" >
          <input matInput [value]="form.get('dateCreation').value | date: 'dd/MM/yyyy hh:mm:ss' "
                 placeholder="{{'qcm.question.form.input.creation.placeholder' |translate}}" readonly>
        </mat-form-field>

        <!-- </div> -->
        <mat-form-field *ngIf="question.id">
          <input matInput [value]="form.get('dateModification').value | date: 'dd/MM/yyyy hh:mm:ss' "
                 placeholder="{{'qcm.question.form.input.modification.placeholder' |translate}}" readonly>
        </mat-form-field>

      </div >

    </div>

    <div id="row2" fxLayout='column' fxFlex="100%" fxFlex.gt-sm="50%" style="padding: 10px">

      <!-- question -->
      <mat-form-field>
        <textarea formControlName="question" #input matInput placeholder="Question" maxlength="1024"></textarea>
        <!--<mat-icon prefix>comment_question</mat-icon>-->
        <!--<mat-hint>Hint</mat-hint>-->
        <mat-hint align="end">{{input.value?.length || 0}}/1024</mat-hint>
        <mat-error *ngIf="form.get('question').hasError('required')">field required</mat-error>
      </mat-form-field>

      <!-- reponse -->
      <div [ngSwitch]="form?.controls['type']?.value" style="display:flex;flex-direction: column">

        <ng-template [ngSwitchCase]="'FREE_TEXT'">
          <div formArrayName="responses" fxFlex>

            <div *ngFor="let responseCtrl of  responses.controls; let i=index" [formGroupName]="i"
                 class="responses-container">
              <mat-form-field fxFlex>
                <textarea formControlName="response" matInput placeholder="response" class="text-input"
                          rows="15"></textarea>
                <mat-error *ngIf="responseCtrl.get('response').hasError('required')">field required</mat-error>
              </mat-form-field>
              <div style="align-self: flex-start">
                <button mat-icon-button color="accent" (click)="removeResponse(i);" *ngIf="edition">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>

          </div>

        </ng-template>

        <!-- reponse  multiple-->
        <ng-template [ngSwitchCase]="'MULTIPLE_ANSWER'">

          <div formArrayName="responses" id="responses" fxLayout='column' fxFlex="100%">

            <div *ngFor="let responseCtrl of responses.controls; index as i " [formGroupName]="i" fxFlex="100%">

              <div id="checkId_{{i}}" fxLayout='row' fxFlex="5%" fxLayoutAlign="start center">
                <mat-checkbox formControlName="good" [checked]="responseCtrl['good']" [labelPosition]="'before'">
                  <mat-label>{{i + 1}}.</mat-label>
                </mat-checkbox>
              </div>

              <div fxLayout='row' fxFlex="100%" fxLayoutAlign="start start">

                <div id="responseId_{{i}}" *ngIf="!edition" fxFlex="100%" fxLayoutAlign="start center">
                  <mat-label>{{responseCtrl.get('response').value}}</mat-label>
                </div>

                <mat-form-field *ngIf="edition" fxFlex="100%">
                  <textarea id="TextAreaId_{{i}}" formControlName="response" matInput class="text-input"></textarea>
                  <mat-error *ngIf="responseCtrl.get('response').hasError('required')">field required</mat-error>
                </mat-form-field>

                <div fxFlex>
                  <button mat-icon-button color="accent" (click)="removeResponse(i);" *ngIf="edition">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>

              </div>

            </div>
          </div>

        </ng-template>

        <!-- choix multiple-->

        <ng-template [ngSwitchCase]="'MULTIPLE_CHOICE'">

          <div fxFlex="100%">

            <mat-radio-group formControlName="options" id="group" class="radio-group"
                             formArrayName="responses" (change)="onSelectResponse($event)">

              <div *ngFor="let responseCtrl of responses.controls; index as i " [formGroupName]="i"
                   class="responses-container" fxFlex="100%" fxLayoutAlign="start start">
                <!--<pre> {{r.value |json }}</pre>-->

                <button mat-icon-button color="accent" (click)="removeResponse(i);" *ngIf="edition">
                  <mat-icon>delete</mat-icon>
                </button>

                <mat-radio-button class="radio-button" [value]="i" [checked]="responseCtrl['good']"
                                  [disabled]="!edition" [labelPosition]="'before'">
                  <mat-label>{{i + 1}}.</mat-label>
                  <mat-error *ngIf="responseCtrl.get('response').hasError('required')">field required</mat-error>
                </mat-radio-button>

                <textarea formControlName="response" matInput placeholder="response" class="text-input"
                          fxFlex="100%"></textarea>


              </div>
            </mat-radio-group>

          </div>

        </ng-template>

        <!-- vrai /faux-->

        <ng-template [ngSwitchCase]="'TRUE_FALSE'">
          false


        </ng-template>

        <ng-template *ngSwitchDefault>Please select a type above.</ng-template>

      </div>

    </div>

  </form>

  <!--  bouton Ajout question -->

  <div fxlayout fxlayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <div [ngSwitch]="form?.controls['type']?.value" style="display:flex;flex-direction: column">

      <ng-template [ngSwitchCase]="'FREE_TEXT'">
        <button *ngIf="responses.length == 0 " mat-raised-button (click)="addResponse()" [hidden]="!edition"
                matTooltip="{{'qcm.form.menu.new-response' | translate }}" color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>

      <ng-template [ngSwitchCase]="'MULTIPLE_CHOICE'">
        <button mat-raised-button (click)="addResponse()" [hidden]="!edition"
                matTooltip="{{'qcm.form.menu.new-response' | translate }}" color="primary">
          <mat-icon>add</mat-icon>
          {{'qcm.form.menu.new-response' | translate }}
        </button>
      </ng-template>

      <ng-template [ngSwitchCase]="'MULTIPLE_ANSWER'">
        <button mat-raised-button (click)="addResponse()" [hidden]="!edition"
                matTooltip="{{'qcm.form.menu.new-response' | translate }}" color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </ng-template>


    </div>

  </div>

</div>
