<mat-nav-list class="nav-list">
  <!--(mouseover)='over(questionnaire)'-->

  <mat-list-item class="list mat-elevation-z2 list-item"
                 attr.entityId="questionnaireId_{{questionnaire.uuid}}"
                 *ngFor="let questionnaire of elements$ | async as q; index as i">

    <button mat-icon-button matListAvatar (click)="setClickedRow(questionnaire)">
      <mat-icon matListIcon *ngIf="!isSelected(questionnaire)">question_answer</mat-icon>
      <mat-checkbox *ngIf="isSelected(questionnaire)" matListAvatar
                    [checked]="isSelected(questionnaire)"></mat-checkbox>
    </button>

    <p class="cursor-pointer" [routerLink]="['/questionnaires/'+ questionnaire.uuid ]"
       matTooltip="{{questionnaire.title}}" style="overflow: hidden;white-space:nowrap;">
      {{questionnaire.title}}
    </p>

    <div class="spacer"></div>
    <!--  start destktop -->
    <span fxShow.xs="false" *ngIf="questionnaire.category" class="label label-danger"> {{questionnaire.category?.libelle}}</span>
    <span fxShow.xs="false" *ngFor="let tag of questionnaire.tags" class="label label-info list-item-tag"  (click)="swapTag(tag)">{{tag.libelle}}</span>

    <span *ngIf="questionnaire.published" class="label"  > <mat-icon color="primary">public</mat-icon></span>
    <span *ngIf="!questionnaire.published" class="label_off"  > <mat-icon  >public_off</mat-icon></span>
    <!--  end destktop -->

    <button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="questionnaireMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <!-- line menu -->
    <mat-menu #questionnaireMenu="matMenu" yPosition="below">
      <button mat-menu-item [routerLink]="['/questionnaires/'+ questionnaire.uuid ]">
        <mat-icon>details</mat-icon>
        Details
      </button>
      <button class="plMenuCSS"  mat-menu-item matTooltip="{{'qcm.upload.list.menu.export.word' |translate}}" (click)="download(questionnaire,'docx')" color="primary">
        <mat-icon>cloud_download</mat-icon>{{'qcm.upload.list.menu.export.word' |translate}}
      </button>
      <button class="plMenuCSS"  mat-menu-item matTooltip="{{'qcm.upload.list.menu.export.pdf' |translate}}" (click)="download(questionnaire,'pdf')" color="primary">
        <mat-icon>cloud_download</mat-icon>{{'qcm.upload.list.menu.export.pdf' |translate}}
      </button>
      <button class="plMenuCSS"  mat-menu-item matTooltip="{{'qcm.upload.list.menu.export.json' |translate}}" (click)="download(questionnaire,'json')" color="primary">
        <mat-icon>cloud_download</mat-icon>{{'qcm.upload.list.menu.export.json' |translate}}
      </button>
    </mat-menu>

  </mat-list-item>


</mat-nav-list>
