<mat-nav-list>
  <!--(mouseover)='over(questionnaire)'-->
  <div *ngFor="let questionnaire of elements as q; index as i">
    <mat-list-item class="list" style="overflow: hidden"
                   [class.active]="i == selectedRow"
                   attr.entityId="questionnaireId_{{questionnaire.id}}">

      <button mat-icon-button matListAvatar (click)="setClickedRow(questionnaire)">
        <mat-icon matListIcon *ngIf="!isSelected(questionnaire)">question_answer</mat-icon>
        <mat-checkbox *ngIf="isSelected(questionnaire)" matListAvatar [checked]="isSelected(questionnaire)"
                      [(indeterminate)]="indeterminate" [labelPosition]="labelPosition"
                      [disabled]="disabled"></mat-checkbox>
        </button>

        <h4 matLine class="cursor-pointer" (click)="setClickedRow(questionnaire)">
          Questionnaire {{questionnaire.id}} - {{questionnaire.title}} </h4>
      <!--  menu -->
      <span *ngIf="questionnaire.epic" class="label label-danger"> {{questionnaire.epic?.libelle}}</span>
      <span *ngFor="let tag of questionnaire.tags" class="label label-info"
            (click)="swapTag(tag)">{{tag.libelle}}</span>

      <button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="questionnaireMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- line menu -->
      <mat-menu #questionnaireMenu="matMenu" yPosition="below">
        <button mat-menu-item [routerLink]="['/questionnaires/'+ questionnaire.id ]">
          <mat-icon>details</mat-icon>
          Details
        </button>
      </mat-menu>
    </mat-list-item>
  </div>

</mat-nav-list>
