
<button mat-raised-button *ngIf="!isLoggedIn()" color="accent" (click) ="login()">{{"menu.login" | translate }}</button>

<button *ngIf="isLoggedIn()" mat-icon-button mat-stroked-button [matMenuTriggerFor]="appMenuApp">
  <mat-icon>account_circle</mat-icon>
</button>

<!--<mat-menu #appMenuApp="matMenu">-->

<!--<a *ngIf="isloggedIn()" mat-menu-item (click)="logout()">-->
<!--<mat-icon   color="primary" style="font-size: 32px">account_circle</mat-icon>-->
<!--<span>{{this.getUser().firstName}} {{this.getUser().lastName}}</span>-->
<!--{{this.getUser().email}}-->
<!--</a>-->
<!--<a *ngIf="isloggedIn()" mat-menu-item (click)="logout()">-->
<!--<mat-icon>content_copy</mat-icon>-->
<!--logout-->
<!--</a>-->
<!--&lt;!&ndash;<a *ngIf="!isloggedIn()" mat-menu-item href="/login/webmarks">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-icon>content_copy</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;log with webmarks.net&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</mat-menu>-->

<mat-menu #appMenuApp="matMenu">
<!--  <td-menu *ngIf="isloggedIn()">-->
<!--    <div td-menu-header class="mat-subheading-2 push-none">-->
<!--      <div>-->
<!--        <span><b>{{this.getUser().first_name}} {{this.getUser().last_name}}</b></span>-->
<!--        <span td-menu-header class="mat-subheading-1 push-none">{{this.getUser().email}}</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <mat-nav-list dense>-->
<!--      <button *ngIf="isloggedIn()" mat-menu-item class="profile-img" (click)="profile()">-->
<!--        <mat-icon style="font-size: 32px">account_circle</mat-icon>-->
<!--        Profile-->
<!--      </button>-->
<!--    </mat-nav-list>-->

    <a *ngIf="isLoggedIn()" mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      logout
    </a>

<!--  </td-menu>-->
  <!--<a *ngIf="!isloggedIn()" mat-menu-item href="/login/webmarks">-->
  <!--<mat-icon>content_copy</mat-icon>-->
  <!--log with webmarks.net-->
  <!--</a>-->
</mat-menu>

<!--<mat-menu #appMenuApp="matMenu" [overlapTrigger]="false">-->
<!--<td-menu>-->
<!--<div td-menu-header class="mat-subheading-2 push-none">Notifications</div>-->
<!--<mat-nav-list dense>-->
<!--<ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">-->
<!--<a mat-list-item>-->
<!--<mat-icon matListAvatar>today</mat-icon>-->
<!--<h4 matLine><span class="text-wrap">A user did an activity on an item that you've subscribed to follow actions on.</span></h4>-->
<!--<p matLine>22 minutes ago</p>-->
<!--</a>-->
<!--<mat-divider *ngIf="!last"></mat-divider>-->
<!--</ng-template>-->
<!--</mat-nav-list>-->
<!--<button mat-button color="accent" td-menu-footer>-->
<!--See All Notifications-->
<!--</button>-->
<!--</td-menu>-->
<!--</mat-menu>-->
