//.list-item{
//  margin-bottom: 10px;
//  border-radius: 4px;
//}


.my-full-screen-dialog .mat-dialog-container {
max-width: none;
width: 100vw;
height: 100vh;
}

//.my-full-screen-dialog  {
///*max-width: none;*/
//  width: 100%;
//  height: 100%;
//}

//.cdk-overlay-pane { width: 90%; height: 90%; } @media(max-width: 1000px) { .cdk-overlay-pane { width: 100%; height: 100%; } }


//.cdk-overlay-pane {
//  max-width: none !important;
//  flex: 1 1 100%;
//  height: 100%;
//}
//.mat-dialog-content {
//  max-height: none !important;
//  flex: auto;
//}
