
<!--<div class="main-menu-header">-->
  <!--<img class="profile-img"  src="./assets/images/nav/profile.png" alt="User-Profile-Image">-->
  <!--<div class="user-details">-->
    <!--<span id="more-details">{{this.getUser().firstName}} {{this.getUser().lastName}}<i class="fa fa-caret-down"></i></span>-->
  <!--</div>-->
<!--</div>-->

<!--<mat-nav-list>-->
   <!--<a mat-menu-item class="profile-img" routerLink="user" [routerLinkActive]="['active']">-->
    <!--{{this.getUser().firstName}} {{this.getUser().lastName}}-->
    <!--<mat-icon   color="primary" style="font-size: 32px">account_circle</mat-icon>-->
  <!--</a>-->


<!--</mat-nav-list>-->
