<div class="page-center">
  <!--  <div class="page-header" fxlayout fxlayout="column" fxLayout.xs="column" fxLayoutAlign="center center">-->

  <!--    &lt;!&ndash;   srearch text&ndash;&gt;-->
  <!--    <div fxFlex="80%" class="page-search"><input type="Text"></div>-->


  <!--    <button mat-icon-button (click)="" matTooltip="{{'qcm.questionnaire.menu.filter' | translate}}">-->
  <!--      <mat-icon *ngIf="(questionnaireStore.criteriaSize$ | async )>0"-->
  <!--                matBadge="{{questionnaireStore.criteriaSize$ | async}}" matBadgeColor="warn"-->
  <!--                matBadgePosition="above after">filter_list-->
  <!--      </mat-icon>-->
  <!--      <mat-icon *ngIf="(questionnaireStore.criteriaSize$ | async )==0">filter_list</mat-icon>-->
  <!--    </button>-->
  <!--  </div>-->

  <div fxlayout="column" [hidden]="!filter">
    <div fxlayout="row" fxLayoutAlign="center center" fxLayout.xs="column" [hidden]="!filter">
    <span>
        <h1>{{'qcm.questionnaire.filtre.title' |translate}}</h1> ({{'qcm.questionnaire.filtre.found' | translate:{'nb': list.totalElements} }}
      )
    </span>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column" [hidden]="!filter">
      <div>{{'qcm.tag-select.title' | translate}}:</div>
      <app-tag-select></app-tag-select>
    </div>

    <!--    <div fxLayout="row" fxLayoutAlign="end end" [hidden]="!filter">-->
    <!--      <button mat-fab color="primary" (click)="filter=!filter;">-->
    <!--        <mat-icon>close</mat-icon>-->
    <!--      </button>-->
    <!--    </div>-->

  </div>

  <!--  start desktop fab-->
  <button fxShow.xs="false" id="replay-btn-selectable-list" mat-mini-fab (click)="list.refresh(true);"
          class="fab-bottom-up2"
          matTooltip="{{'qcm.selectable-list.menu.refresh' | translate}}">
    <mat-icon>replay</mat-icon>
  </button>

  <button fxShow.xs="false" toolbar-view mat-mini-fab (click)="filter=!filter;" class="fab-bottom-up1"
          color="primary"
          matTooltip="{{'qcm.questionnaire.menu.filter' | translate}}">

    <mat-icon *ngIf="(questionnaireStore.criteriaSize$ | async )>0"
              matBadge="{{questionnaireStore.criteriaSize$ | async}}" matBadgeColor="warn"
              matBadgePosition="above after">filter_list
    </mat-icon>
    <span></span>
    <mat-icon *ngIf="(questionnaireStore.criteriaSize$ | async )==0">filter_list</mat-icon>
  </button>

  <button id="add-btn-selectable-list" mat-fab (click)="list.onCreateElement($event)" color="primary" class="fab-bottom"
          matTooltip="{{'qcm.selectable-list.menu.new' | translate }}" [hidden]="filter">
    <mat-icon>add</mat-icon>
  </button>

  <button id="list-btn-selectable-list" mat-fab (click)="list.refresh(true);filter=!filter;" color="primary" class="fab-bottom"
          matTooltip="{{'qcm.selectable-list.menu.new' | translate }}" [hidden]="!filter">
    <mat-icon>list</mat-icon>
  </button>
  <!--  end desktop fab-->

  <div fxlayout [hidden]="filter">

    <app-selectable-list #list
                         [store]="questionnaireStore"
                         [sortBy]="'id'"
                         (created)="create()">

      <div toolbar-view class="overflow-hidden">
        <span *ngIf="list.isSelectedMode()"
              style="align-items: center ">{{'qcm.questionnaire.selected.title' | translate }}</span>
        <span *ngIf="!list.isSelectedMode()"
              style="align-items: center ">{{'qcm.questionnaire.list.title' | translate }}</span>
      </div>


      <div toolbar-view class="spacer"></div>

      <!--   Filter-->
      <!--  start mobile-->
      <button fxShow.gt-xs="false" mat-icon-button (click)="filter=!filter;"
              matTooltip="{{'qcm.form.menu.filter' | translate}}">
        <mat-icon *ngIf="(questionnaireStore.criteriaSize$ |async ) > 0"
                  matBadge="{{(questionnaireStore.criteriaSize$ |async )}}"
                  matBadgeColor="warn"
                  matBadgePosition="above after">filter_list
        </mat-icon>
        <mat-icon *ngIf="(questionnaireStore.criteriaSize$ |async ) ==0">filter_list</mat-icon>
      </button>
      <!--  end mobile-->

      <app-questionnaire-nav-list elements-view [elements$]="questionnaireStore.elements$"></app-questionnaire-nav-list>
      <app-questionnaire-nav-list selected-view [elements$]="questionnaireStore.selected$"></app-questionnaire-nav-list>

    </app-selectable-list>

  </div>
</div>

