<!--<div fxLayout="row">-->
<!--  <div>1. One</div> <div>2. Two</div> <div>3. Three</div> <div>4. Four</div>-->
<!--</div>-->


<!--<div style="text-align: right;padding-right: 100px;height: 100%;margin: auto">-->
<!--  <a target="_blank" href="https://qcm.webmarks.net/swagger/swagger-ui.html"-->
<!--     style="color: #2a2a2a;text-decoration: none;">Swagger REST API</a>-->
<!--</div>-->

<div class="jumbotron jumbotron-carousel corporate-jumbo">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">

      </div>
      <div class="icon col-md-4 col-sm-4">
        <a href="https://qcm-rest-api.herokuapp.com/swagger-ui.html#/" target="_blank">
          <img src="/assets/images/swagger.svg"/></a>
      </div>
    </div>

  </div>
</div>

