

  <mat-card class="mat-elevation-z0">
<!--    <mat-card-header>Tags</mat-card-header>-->

    <mat-chip-list>
      <mat-chip *ngFor="let tag of selected " (removed)="unSelectItem(tag)" selected="true"
                color="primary">{{tag.libelle}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-card>
  <mat-card class="mat-elevation-z0">
    <mat-chip-list [(ngModel)]="letter" [selectable]="selectable">
      <mat-chip (click)="selectLetter('')">All</mat-chip>
      <mat-chip *ngFor="let l of letters" (click)="selectLetter(l.name)" [value]="l.name"
                selected="letter === l.name">{{l.name}}</mat-chip>
    </mat-chip-list>
  </mat-card>
  <mat-card class="mat-elevation-z0">
    <mat-chip-list [selectable]="selectable">
      <mat-chip *ngFor="let tag of  tags" (click)="selectItem(tag)" [removable]="removable" [selectable]="selectable"
                [value]="tag.id">{{tag.libelle}}

      </mat-chip>
      <!--<mat-chip *ngIf="nextLink" class='tag-cloud' (click)="next()">...</mat-chip>-->
      <!--<div *ngFor="let tag of  tags" >disabled:{{disabled}}/{{tag.name}}:{{tag.color}}:{{tag.selected}} / </div>-->
    </mat-chip-list>
  </mat-card>

