

<app-user-menu-item></app-user-menu-item>

<mat-nav-list left-sidenav-content  >
  <!--<a mat-menu-item [routerLinkActive]="['active']" routerLink="/home" class="nav-item">-->
    <!--<mat-icon matListIcon>home</mat-icon>-->
    <!--Home-->
  <!--</a>-->
  <!--<mat-divider></mat-divider>-->



  <a mat-menu-item [routerLinkActive]="['active']" routerLink="/questions/list" class="nav-item">
    <mat-icon matListIcon>help</mat-icon>
    My Questions
  </a>


  <!--<mat-divider></mat-divider>-->
  <a mat-menu-item [routerLinkActive]="['active']" routerLink="/questionnaires/list" class="nav-item">
    <mat-icon matListIcon>question_answer</mat-icon>
    My Questionnaires
  </a>

  <mat-divider></mat-divider>

  <!--<mat-divider></mat-divider>-->
  <a mat-menu-item class="nav-item">
    <mat-icon matListIcon>add</mat-icon>
    Create Tag</a>
  <!--<mat-divider></mat-divider>-->
</mat-nav-list>
