//@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'themes/styles-variables';
@import '~@angular/material/theming';
// always include only once per project
@include mat-core();
// import our custom theme
@import 'themes/light-blue-theme';
@import 'themes/dark-blue-theme';


@import 'app/shared/material-components/side-nav-layout/sidenav-laout.component.scss-theme';
@mixin custom-components-theme($theme) {
 @include sidenav-layout-component-theme($theme);
}

// specify theme class eg: <body class="my-theme"> ... </body>
.dark-blue-theme {
   @include angular-material-theme($dark-blue-theme);
}

.light-blue-theme {
  @include custom-components-theme($light-blue-theme);
  @include angular-material-theme($light-blue-theme);
}

//html, body {
//  background-color: #00E676;
//}

.page-content {
  height: 100%;
}

.mat-fab.mat-fab-bottom-right {
  right: 25px;
  float: right;
  bottom: 25px;
  position: absolute;
}

.fab-bottom {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.mat-fab-bottom-center {
  flex: 1 1 auto;
  vertical-align: center;
  align-items: center;
  width: 100%;
  right: 25px;
  bottom: 25px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.app-loading {
  .logo {
    width: 100px;
    height: 100px;

    // this way asset gets processed by webpack
    background: url(./assets/favicon.ico) center center no-repeat;
  }
}



