<!--<mat-card style="box-shadow: unset">-->
<!--<mat-card-content>-->
<!---->

<form #qForm="ngForm" class="example-form" [formGroup]="form">
  <div style="display:flex;flex-direction: column">
    <mat-form-field class="example-full-width">
      <input name="title" formControlName="title" placeholder="Title" matInput [(ngModel)]="questionnaire.title">
    </mat-form-field>

    <mat-form-field>
          <textarea name="description"
                    formControlName="description"
                    placeholder="Description"
                    matInput
                    [(ngModel)]="questionnaire.description"></textarea>

    </mat-form-field>

    <mat-form-field *ngIf="categories as epics;">
      <mat-select name="category"
                  formControlName="category"
                  placeholder="Category"
                  [(ngModel)]="questionnaire.category"
                  [compareWith]="compareById">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let epic of epics" [value]="epic">{{epic.libelle}}</mat-option>
      </mat-select>
    </mat-form-field>

    <td-chips
      name="tag"
      [ngModelOptions]="{standalone: true}"
      [disabled]="!edition"
      color="accent"
      [items]="filteredObjects"
      [(ngModel)]="questionnaire.tags"
      placeholder="Input Tag here"
      (inputChange)="filterObjects($event)"
      (add)="addTagEvent($event)">
      <ng-template td-chip let-chip="chip" >
        <ng-template #newtag>{{chip}}</ng-template>
        <div *ngIf="chip.libelle;else newtag;">{{chip.libelle}}</div>
      </ng-template>
      <ng-template td-autocomplete-option let-option="option">
        <div layout="row" layout-align="start left">
          {{option.libelle}}
        </div>
      </ng-template>
    </td-chips>

  </div>
</form>


<!--</mat-card-content>-->
<!--</mat-card>-->
