<form>

  <mat-card>
    <mat-card-title>My Questions</mat-card-title>
    <mat-card-subtitle>Search Questions</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Questionnaire" [(ngModel)]="selectedValue" name="questionnaire">
          <mat-option *ngFor="let q of questionnaires " [value]="q.questionId">
            {{q.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <a mat-button color="accent" class="text-upper" (click)="search()">
        <span>Search</span>
      </a>
    </mat-card-actions>
  </mat-card>
  <p> Selected value: {{selectedValue}} </p>

      <mat-nav-list>
        <mat-list-item *ngFor="let question of questions  | async">
          <div style="margin-right: 0px">
            <div>
              <a mat-icon-button style="max-width: 600px;overflow: hidden" matTooltip="Edit">
                <mat-icon color="primary">create</mat-icon>
              </a>
            </div>
          </div>
          <span>{{question.questionId}} - {{question.question}}</span>
        </mat-list-item>
      </mat-nav-list>

</form>
